%h1 Integration's index

%table
  %tr
    %th
      Integration
    %th
      Connection Type
    %th
  - @integrations.each do |integration|
    %tr
      %td
        = integration.title
      %td
        = integration.connection_type
      %td
        = link_to integration.title, integration_path(integration.id)
